.movie-popup {
  display: none;
  background: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  margin: 5% auto;
  padding: 4rem;
  width:fit-content ;
  flex-direction: column;
  border-radius: 0.7rem;
}

h2 {
  margin-left: 0px;
  padding-top: 30px;
}

.movie-popup .popup-title {
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.movie-popup table {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.movie-popup table tr  {
  border-radius: 3px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}

.col-1 {
  flex-basis: 75%;
}
.col-2 {
  flex-basis: 25%;
}
.popup-img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.comments {
  margin-left: 90px;
  list-style-type: none;
  max-height: 200px;
  padding: 1rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
  overflow: auto;
  background-color: #bfc9c2;
}

.comment-title {
  margin-left: 90px;
  padding-top: 30px;
}

.comments-list{
  padding: 0.5rem;
}

#close-popup {
  display: block;
  width: 100%;
  text-align: right;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  padding: -40px 0px 0 0; 
}

.com-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
  margin-left: 90px;
  margin-top: 3rem;
}

.com-form input,
.com-form button {
  width: 100%;
  border: 1px solid #000;
  height: 35px;
  padding-left: 10px;
  outline: none;
}

.com-form button {
  box-shadow: 2px 2px 4px 0;
  cursor: pointer;
}

.com-form textarea {
  width: 400px;
  height: 155px;
  border: 1px solid #000;
  outline: none;
  padding: 5px;
}