*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

footer {
  width: 100%;
  bottom: 0;
}

.container-footer {
  max-width: 80%;
  margin: auto;
  text-align: left;
}

hr {
  width: 100%;
}

.credits {
  padding: 30px;
  justify-content: flex-start;
}

.credits-name {
  color: var(--brand);
}
